<!-- Values for javascript -->
<div id="deploy-js" style="display:none"><%= 'WELCOME' %></div>


<div class="welcome-background"></div>

<div class="container">
  <div class="jumbotron welcome-display">
    <h1>Welcome to Playogo.</h1>
    <h1>Let's find you some ice.</h1>
    <!-- <p>Step 1: enter your postal code</p> -->

      <div class="postal-input-container">
        <p class="direction-text">Step 1: Enter your postal code</p>
        <form action="/venues" method="get">
          <div class="input-group input-group-lg">
            <input id="search-input" type="text" class="form-control" name="postal" placeholder="eg. N2N 3S3">
            <span class="input-group-btn">
              <button id="search-submit-btn" class="btn btn-primary" type="submit">Search</button>
            </span>
          </div><!-- /input-group -->

          <div id="search-input-errors" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Please enter a well formed postal code.
          </div>
        </form>
      </div>
  </div>
</div>