
<script>
  deploy_js = 'VENUES';
  schedule_tree = JSON.parse('<%= @scheduleTree.to_json.html_safe %>');
  postal = '<%= @postal %>';
</script>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>


<!-- Modal -->
<div class="modal fade" id="booking-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="booking-modal-title">Modal title</h2>
      </div>
      <div class="modal-body" id="booking-modal-body">
        Test
      </div>

      <!-- Modal buttons -->
      <div class="modal-footer" id="booking-modal-btns">
        <div id="booking-modal-btn-timeselect">
          <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
          <button type="button" class="btn btn-primary">Select</button>
        </div>
        <div id="booking-modal-btn-venuepolicies">
          <button type="button" class="btn btn-default">Back</button>
          <button type="button" class="btn btn-primary">Agree</button>
        </div>
        <div id="booking-modal-btn-inputinfo">
          <button type="button" class="btn btn-default">Back</button>
          <button type="button" class="btn btn-primary">Continue</button>
        </div>
        <div id="booking-modal-btn-reviewinfo">
          <button type="button" class="btn btn-default">Back</button>
          <button id="stripe-checkout-btn" type="button" class="btn btn-primary">Confirm Booking</button>
        </div>
      </div>

    </div>
  </div>
</div>





<div id="venue-container" class="container">

<p id="notice"><%= notice %></p>


<div class="row sched-row">
  <div id="schedule" class="col-sm-8">

    <!--<p>Postal Code: <span id="postal-span"></span></p>-->
    <!--<script>document.getElementById('postal-span').innerHTML = postal</script>-->
    <p>Date:&nbsp;&nbsp;<input type="text" id="datepicker" size="30">&nbsp;&nbsp;&nbsp;&nbsp;Postal Code: <span id="postal-span"></span></p>
    <script>document.getElementById('postal-span').innerHTML = postal</script>  
    <div id="month-nav-container">

    </div>

    <div id="day-nav-container">
      <ul class="day-tabs">
        <li class="outer-tab"><a><span class="glyphicon glyphicon-backward"></span></a></li>
        <li class="inner-tab">
          <a>
            Date Render
          </a>
        </li>
        <li class="inner-tab">
          <a>
            Date Render
          </a>
        </li>
        <li class="inner-tab">
          <a>
            Date Render
          </a>
        </li>
        <li class="inner-tab">
          <a>
            Date Render
          </a>
        </li>
        <li class="inner-tab">
          <a>
            Date Render
          </a>
        </li>
        <li class="inner-tab">
          <a>
            Date Render
          </a>
        </li>
        <li class="inner-tab">
          <a>
            Date Render
          </a>
        </li>
        <li class="outer-tab"><a><span class="glyphicon glyphicon-forward"></span></a></li>
      </ul>
    </div>

    <div id="venue-rows-container">

    </div>

  </div>

  <div id="map" class="col-sm-4">

  </div>
</div>

</div>

<div id="popover-container">

</div>







<!--
  Avails Schedule Month Navigation Template
-->
<script id="avails-month-template" type="text/template">
    <h3 id="month"></h3>
</script>

<!--
  Avails Schedule Day Navigation Template
-->
<script id="day-nav-template" type="text/template">
  <ul class="day-tabs">
    <li class="outer-tab"><a><span class="glyphicon glyphicon-chevron-left"></span></a></li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="inner-tab">
      <a>
        Date Render
      </a>
    </li>
    <li class="outer-tab"><a><span class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
</script>

<!--
  Avails Schedule hours-cols Template
-->
<script id="avails-hours-template" type="text/template">
    <div class="row-same-height hours-row">
      <div class="hours-col col-same-height">
        <span class="glyphicon glyphicon-time"></span>
      </div>
      <div class="hours-col col-xs-9 col-same-height">
      </div>
    </div>
</script>

<!--
  Modal TIME_SELECT body template
-->
<script id="modal-body-timeselect-template" type="text/template">
  <div class="timeselect-slider"></div>
  <br>
  <p style="font-size:16px">
    You&#39;ve selected <span id="modal-selected-timerange"></span>
    at <span id="modal-selected-venue"></span>
    for <span id="modal-selected-price"></span>.
  </p>

</script>


<!--
  Modal INPUT_INFO body template
-->
<script id="modal-body-inputinfo-template" type="text/template">
  
  <div class="form-group">
    <label for="customer-name">Name</label>
    <input type="text" class="form-control" id="customer-name" placeholder="Enter your first and last name">
  </div>
  <div class="form-group">
    <label for="customer-phone">Phone</label>
    <input type="text" class="form-control" id="customer-phone" placeholder="Enter phone number">
  </div>
  <div class="form-group">
    <label for="customer-notes">Describe what the ice time is being used for</label>
    <input type="text" class="form-control" id="customer-notes" placeholder="Eg. Pick up hockey game with around 15 players.">
  </div>

  <!--
  <div class="form-group">
    <label for="customer-phone">
      Activity type
    </label>
    <input type="hidden" id="customer-phone">
    <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
      Pickup hockey
    </label>
    </div>
    <div class="radio">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
      Skating party
    </label>
    </div>
    <div class="radio disabled">
    <label>
      <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
      On ice training
    </label>
  </div>
  -->

  </div>

</script>

<!--
  Modal INFO_REVIEW body template
-->
<script id="modal-body-reviewinfo-template" type="text/template">

  <p></p>

  <p></p>

  <p></p>

  <p></p>

  <p></p>

  <p></p>
</script>


<!--
  Stripe checkout form.
    -change data-key for deployment
    -can customize (https://stripe.com/docs/checkout#integration-custom)
    -hidden input 'stripeToken'
-->
<script src="https://checkout.stripe.com/checkout.js"></script>

<form id="payment-form" action="/venues/ice_booking" method="POST">
  <input type="hidden" name="stripeToken" value="">
  <input type="hidden" name="stripeEmail" value="">
  <input type="hidden" name="venue" value="">
  <input type="hidden" name="theatre" value="">
  <input type="hidden" name="date" value="">
  <input type="hidden" name="start_time" value="">
  <input type="hidden" name="length" value="">
  <input type="hidden" name="amount" value="">
  <input type="hidden" name="nav_date" value="">
  <input type="hidden" name="name" value="">
  <input type="hidden" name="phone" value="">
  <input type="hidden" name="notes" value="">
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
</form>




