@font-face {
  font-family: 'CooperHewitt';
  src:font-url('CooperHewitt-Heavy.eot');
  src:font-url('CooperHewitt-Heavy.svg#CooperHewitt') format('svg'),
      font-url('CooperHewitt-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src:font-url('CooperHewitt-Bold.eot');
  src:font-url('CooperHewitt-Bold.svg#CooperHewitt') format('svg'),
      font-url('CooperHewitt-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src:font-url('CooperHewitt-Semibold.eot');
  src:font-url('CooperHewitt-Semibold.svg#CooperHewitt') format('svg'),
      font-url('CooperHewitt-Semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src:font-url('CooperHewitt-Medium.eot');
  src:font-url('CooperHewitt-Medium.svg#CooperHewitt') format('svg'),
      font-url('CooperHewitt-Medium.woff') format('woff');
  /*src:url('CooperHewitt-Medium.eot?#iefix') format('embedded-opentype'),
    url('CooperHewitt-Medium.svg#CooperHewitt') format('svg'),
    url('CooperHewitt-Medium.woff') format('woff');*/
    /*,
    font-url('icomoon.ttf') format('truetype');*/
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src:font-url('CooperHewitt-Book.eot');
  src:font-url('CooperHewitt-Book.svg#CooperHewitt') format('svg'),
      font-url('CooperHewitt-Book.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src:font-url('CooperHewitt-Light.eot');
  src:font-url('CooperHewitt-Light.svg#CooperHewitt') format('svg'),
      font-url('CooperHewitt-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'CooperHewitt';
  src:font-url('CooperHewitt-Thin.eot');
  src:font-url('CooperHewitt-Thin.svg#CooperHewitt') format('svg'),
      font-url('CooperHewitt-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}