// Place all the styles related to the Venues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**
* Colors
*/
$pogo-blue: #169EF1;
$pogo-yellow: #F9A146;
$pogo-teal: #5AB1A8;
$pogo-red: #D04B3D;
$dark-grey: #D8D8D8;
$mid-grey: #E8E8E8; /*#D3D3D3*/
$light-grey: #F0F0F0;

/**
* Globals (shoud go to application.css)
*/
body {
  font-family: 'source sans pro'; /*'CooperHewitt';*/
  font-weight: 400;
  background-color: white;
}

.playogo-logo {
  height: 22px;
}

.navbar-brand {
  height: 22px!important;
}

div.container {
  padding: 0;
}

/**
* Step
*/
.step-container {
  text-align: center;
  font-size: 14pt;
  div { /* vertical alignment div */
    div.spacer {
      height: 150px;
    }
  }
}

/**
* Month nav
*/


#month-nav-container{
  text-align: center;
  #month {
    /*text-align: center;*/
    font-family: 'source sans pro';
    font-weight: 400;
    font-size: 18pt;
    /*background-color: $light-grey;*/
    /*border-color: $dark-grey;*/
    padding-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 20px;
    /*font-size: 18pt;*/
    .calendar-icon {
      padding: 10px;
    }
  }
}

/**
* Day Navigation
*/
#day-nav-container {
  width: 100%;
  display: inline-block;

  /* Clearfix */
  .day-tabs:after {
    display:block;
    clear:both;
    content:' ';
  }

  .day-tabs {
    padding: 0;
    margin-bottom: 0px;
    li {
      color: black;
      float:left;
      list-style: none;
      width:11%;
      background: transparent;
      text-align: center;
      /*padding-top: 9px;
      padding-bottom: 9px;*/
    }

    li:hover {
      background-color: $light-grey;
      transition: all linear 0.15s;
      border-radius: 3px 3px 3px 3px;
      /*text-decoration:none;*/
      a {
        color: white;
        background-color: transparent;
      }
    }

    a {
      font-family: 'CooperHewitt';
      font-weight: 300;
      display:inline-block;
      font-size: 14px;
      color:#4c4c4c;

      display:inline-block;
      border-radius: 3px 3px 0px 0px;
      
      transition:all linear 0.15s;
    }
    a:hover {
      background:#a7cce5;
      text-decoration:none;
    }

    li.active, li.active:hover {
      background: $pogo-blue;
      border-radius: 25px;
      a {
        color: white;
      }
    } 
  }

}

/**
* Hours display
*/
.hours-row {
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: $pogo-blue;
  background-color: white;
/*  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $pogo-blue; now being created dynamically*/
}

div.hours-col {
  padding:4px;

}


/*div.hour-col {
  height:30px;
  float:left;
  background: red;
}*/


.clearfix {
  width:0px;
  clear:both;
  display:block;
}

/**
* Venue schedule
*/
/* columns of same height styles */




div.name-col {
  background-color: transparent;
  padding: 5px;
  max-width: 60px;
  min-width: 60px;
  font-size: 8pt;
}

div.sched-col {
  /*height: 30px;*/
  background-color: transparent;
}

div.divider {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: $dark-grey;
  height: 100%;
  position: absolute;
  z-index: 1;
}


.row-same-height {
    display: table;
    width: 100%;
}

.col-same-height {
    display: table-cell;
    float: none !important;
}

div.avail-block {
  position:absolute;
  z-index: 100;
  background: $pogo-blue;
  height: 12px;
}

div.hour {
  position:absolute;
  text-align:center;
  color:black;
  width: 10px;
  margin-left: -5px;
  font-size: 8pt;
}

.odd {
  display: none;
}

.venue-row {
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 25px;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: $dark-grey;
  padding-top: 2px;
  width:100%;
}

.venue-name-col {
  font-size: 14pt;
  color: white;
  font-weight: 200;
}

.theatre-row:nth-child(2n) {
  background-color: $light-grey;
}

.theatre-row:nth-child(2n+1) {
  background-color: $mid-grey;
}

/**
* Popover
*/
#popover-container {
  position: absolute;
  width: 500px;
  height: 500px;
  background: red;
  display: none;
}

#booking-modal-btn-timeselect, #booking-modal-btn-policies, #booking-modal-btn-inputinfo {
  display:none;
}