<p>Hi <%= @name %>,</p>

<p>
  <%= @owner %> has confirmed your ice time. They will be contacting you shortly.
</p>

<p>
  If you have a minute, we would love to hear your thoughts about Playogo. You can provide us with feedback by replying to this email.
</p>


<br>

<p>Enjoy the day</p>
<p>Playogo Team</p>