<script>
  deploy_js = 'ABOUT';
</script>

<div class="container content">

  <h1>About</h1>

  <p>Playogo helps you find and book ice time. Our goal is to take the headaches out of the ice booking process.</p>

  <p>This beta version of our website features 10 ice pads in Kitchener. However, our aim is to include every rink in the Waterloo region.</p>

  <p>If you have any feedback, comments, or questions we would love to hear from you. Please email playogosports@gmail.com.</p>

</div>




