<script>
  deploy_js = 'ABOUT';
</script>

<div class="container content">

  <h1>About</h1>

  <p>Playogo is a marketplace where ice users find and book ice time. Our goal is to provide you with a quick way of finding and purchasing available ice time.</p>

  <p>This is the beta version of our site, which features the City of Kitchener's ice rinks. However, we aim to include every municipality in the Waterloo region.</p>

  <p>We would love to hear from you. Email feedback to playogosports@gmail.com</p>

</div>